- @news.each do |news|
  %h2= "(#{news.news_id}) #{news.heading}"
  %p= "#{news.timestamp} (#{news.news_timestamp})"
  %p= news.cleaned_text
  %p= "news_related: #{news.news_related}"
  %p= "news_published: #{news.news_published}"

- # news_id, :news_timestamp, :news_heading, :news_text, :news_related, :news_published
